
body{
    color: #212121;
    background:#ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
.logo{
    color: #2196F3;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}
.black-logo{
    color: #000000;
}
.link:hover, link:focus{
    color: #2196F3;
    color: #000000;
}

}
.contacts{
    color: #757575;
}
.button:focus, button:hover{
    background-color: #2196F3;
    color: #212121;  
}
.list {
    list-style: none;
}