:root {
    --title-color: #212121;
    --main-font: 'Roboto', sans-serif;
}


body{
    color:  var(--title-color);
    font-family: var(--main-font);
    letter-spacing: 0.03em;
}

.underline{
    text-decoration: none;
    }
    
.list{
    list-style: none;
    /* ЛОГОТИП */

.black-logo{
    color: #000000;
}
.logo{
    font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.20;
letter-spacing: 0.03em;
color: var(--accent-color);
}
